@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
/*
==============
InvestmentForm Start
==============
*/

/*
==============
InvestmentForm End
==============
*/
