@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #111;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
.app {
  text-align: center;
}
.investment-form {
  background-color: #ccc;
  width: 430px;
  margin: 0 auto;
  padding: 15px;
  border-top: solid #1aca69 10px;
}
.total {
  font-size: 100px;
}
.link {
  padding: 10px;
  font-size: 30px;
  background-color: #000000;
  color: #fff;
  margin: 0 15px;
  transition: 0.6s;
  &:hover {
    text-decoration: none;
    color: black;
    background-color: #aaa;
  }
}
.about-text {
  max-width: 840px;
  margin: 0 auto;
  font-size: 30px;
}
.about-images {
  display: flex;
  justify-content: space-around;
}
/*
==============
InvestmentForm Start
==============
*/
.form-control {
  width: 300px !important;
  margin-left: 30px;
}
.form-error {
  margin-left: 30px;
  margin-top: 10px;
  width: 375px;
}
.form-group {
  padding-left: 15px;
}

/*
==============
InvestmentForm End
==============
*/
